Thesis1
Reference
logo-02.png
Readings
Prototype/thesis prototype assets
Prototype/science fair.key
Prototype/presentation
Prototype/for action presentation.pdf
Prototype/do you have friends intro.ai
Prototype/Textures
Prototype/Resources
Prototype/Moodboards
Prototype/Logos.ai
Prototype/Action Page.ai
Class Deliverables
.DS_Store
Prototype/.DS_Store
